:root {
    --primary-color: #c25757;
    --primary-color-darken: #962f34;
    --primary-color-light: #e19697;
    --secondary-color: #00a66b;
    --secondary-color-darken: #00703a;
    --bs-red: #c25757;
}

[data-bs-theme=dark] {
    --bs-light-rgb: 33, 37, 41;
}

[data-bs-theme="dark"] .plot-container {
    filter: invert(75%) hue-rotate(180deg);
}

.btn {
    border-radius: 0;
}

.btn-light {
    border-color: #c6c7c8
}

.btn-primary {
    background-color: var(--primary-color);
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--primary-color-darken);
    --bs-btn-hover-border-color: var(--primary-color-darken);
    --bs-btn-focus-shadow-rgb: var(--primary-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--primary-color-darken);
    --bs-btn-active-border-color: var(--primary-color-darken);
    --bs-btn-disabled-bg: var(--bs-secondary-bg);
    --bs-btn-disabled-border-color: var(--bs-secondary-bg);
}

.btn-secondary {
    background-color: var(--secondary-color);
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--secondary-color-darken);
    --bs-btn-hover-border-color: var(--secondary-color-darken);
    --bs-btn-focus-shadow-rgb: var(--secondary-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--secondary-color-darken);
    --bs-btn-active-border-color: var(--secondary-color-darken);
    --bs-btn-disabled-bg: var(--bs-secondary-bg);
    --bs-btn-disabled-border-color: var(--bs-secondary-bg);
}

.btn-outline-primary {
    background-color: var(--bs-white);
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color-darken);
    --bs-btn-focus-shadow-rgb: var(--primary-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--primary-color-darken);
    --bs-btn-active-border-color: var(--primary-color-darken);
    --bs-btn-disabled-bg: var(--bs-secondary-bg);
    --bs-btn-disabled-border-color: var(--bs-secondary-bg);
}

.step {
    max-width: 200px;
    font-weight: bold;

    .btn {
        margin: 0 auto;
        display: block;

        height: 50px;
        width: 50px;

        &:not(.btn-outline-primary):not(.btn-primary) {
            background: gray;
        }
    }

    &:first-child {
        padding-left: 15px;
        padding-right: 0;
    }

    &:last-child {
        padding-left: 0;
        padding-right: 15px;
    }
}


.step-connector {
    max-width: 100px;
    padding: 0 !important;

    &.enabled {
        hr {
            border-color: var(--primary-color);
        }
    }
}

canvas {
    max-width: 100%;
    object-fit: contain;
}
